.header {
  position: fixed;
  z-index: 1000;
  top: 50px;
  left: 50px;
  .menu {
    position: relative;
    background: #c9fd74;
    border-radius: 25px;
    height: 40px;
    width: 100px;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}